html {font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: 62.5%;}

ol li {
    margin-top: 1em;}

p, li {font-size: 1.8rem;
}

#hero-list {font-size: 5em;
    margin-top: 1em;}

div {width: 600px;
    background-color: rgb(255, 255, 255);
    position:sticky
    }

h1 {font-size: 5em;}

h2 {font-size: 4em;
    }

h3 {font-size: 3em;
    }


ol li {}

ul li {}

