* {font-family: "Helvetica Neue", "Arial", sans-serif;}

li {font-size: 1em;
    margin-top: 0em;}

ol li {line-height: 1.6em;
    margin-top: 1em;}

#herolist {font-size: 5em;
    margin-top: 1em;}

div {width: 600px;
    background-color: rgb(255, 255, 255);
    position:sticky
}

p {font-size: 1em;
    line-height: 1.6em;}

h1 {font-size: 5em;}

h2 {font-size: 4em;
    }

h3 {font-size: 3em;
    }

p {font-size: 1em;
    }

ol li {}

ul li {}

